---
layout: default
title:
description: 
keywords: 
---

<section class="lotus-logo fn-clear">
    <hgroup class="violet-site">
        <h1><a href="{{ site.url }}" >{{ site.title }}</a></h1>
        <h2>{{ site.subTitle }}</h2> 
    </hgroup>
</section>

<article class="lotus-article">
    <h3>New Articles</h3>
    <ul>
        {% for npost in site.posts limit:8 %}
        <li>{{ npost.date | date_to_utc | date: '%Y-%m-%d' }}&nbsp;
        <a href="{{ npost.url }}" pubdate="{{ npost.date | date_to_utc | date: '%Y-%m-%d' }}" title="{{ npost.title }}" rel="bookmark">{{ npost.title }}</a></li>
        {% endfor %}
    </ul>
</article>

<article class="lotus-article">
    <h3>Top Links</h3>
    {% for page in site.page offset:0 %}
    <a href="{{ page.url }}" rel="bookmark" title="{{page.text}}">{{ page.text }}</a>
    	{% if !page.last %}
    	    <span class="lotus-squ">|</span>
    	{% endif %}
    {% endfor %}
    <p></p>
</article>
